{% extends 'main_app/base.html' %}
{% block title %}Tableau de bord Étudiant{% endblock title %}
{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Tableau de bord Étudiant</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'student_home' %}">Tableau de bord</a></li>
        <li class="breadcrumb-item active">Étudiant</li>
    </ol>
    {% block student_content %}
    {% endblock %}
</div>
{% endblock %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'student_course_materials' %}">
        <i class="fas fa-book"></i>
        <span>Supports de Cours</span>
    </a>
</li> 